

[include shell_command.cfg]
# This file contains common pin mappings for the BigTreeTech Octopus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.

## Voron Design VORON2 250/300/350mm BigTreeTech OctoPus V1 TMC2209 UART config

[include mainsail.cfg]
[include homing.cfg]
[include bed_mesh.cfg]
[include stealthburner_leds.cfg]
[include KAMP_Settings.cfg]
[include canbus.cfg]
[include bedfans.cfg]
[include macros.cfg]
[include beacon.cfg]
[exclude_object]
[force_move]
enable_force_move: True
[pause_resume]

[mcu]
canbus_uuid: 993242c5d629

[printer]
kinematics: corexy
max_velocity: 500  
max_accel:7000              #Max 4000
max_z_velocity: 50          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 300
square_corner_velocity: 5.0

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400  #set to 400 for 0.9 degree stepper
endstop_pin: tmc2209_stepper_x:virtual_endstop
#position_min: 0


##  Uncomment for 300mm build
position_endstop: 306
position_max: 306
homing_speed: 40   #Max 100
homing_retract_dist: 0
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PC4
interpolate: false
run_current: 1.0
sense_resistor: 0.110
diag_pin: ^PG6
driver_SGTHRS: 135 # 255 is most sensitive value, 0 is least sensitive
stealthchop_threshold:0 #always on, 0 is off

##  A Stepper - Right
##  Connected to MOTOR_1
##  Endstop connected to DIAG_1
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400  #set to 400 for 0.9 degree stepper
endstop_pin: tmc2209_stepper_y:virtual_endstop
#position_min: 0


##  Uncomment for 300mm build
position_endstop: 314
position_max: 314
homing_speed: 40  #Max 100
homing_retract_dist: 0.5
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PD11
interpolate: false
run_current: 1.0
sense_resistor: 0.110
diag_pin: ^PG9
driver_SGTHRS: 142 # 255 is most sensitive value, 0 is least sensitive
stealthchop_threshold:0 #always on, 0 is off
 
#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
endstop_pin: probe:z_virtual_endstop # use beacon as virtual endstop
homing_retract_dist: 0 # beacon needs this to be set to 0 
#position_endstop: -0.5


##--------------------------------------------------------------------
##  Uncomment below for 300mm build
position_max: 260
position_min: -5
homing_speed: 20
second_homing_speed: 3
homing_retract_dist: 3

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PC6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z1 Stepper - Rear Left
##  Connected to MOTOR_3
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z3 Stepper - Front Right
##  Connected to MOTOR_5
[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Bed Heater
#####################################################################
[heater_bed]
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PF3
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 0.85
min_temp: 0
max_temp: 125
[verify_heater heater_bed]
max_error: 120
# The default is 120.
check_gain_time:60
# The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
hysteresis: 5
#    The default is 5.
heating_gain: 2
#    The default is 2.

#####################################################################
#   Fan Control
#####################################################################
##  Controller fan - FAN2
[controller_fan Octopus_fan]
pin: PD14
kick_start_time: 0.5
heater: heater_bed

##  Exhaust fan - FAN3
[fan_generic Exhaust_Fan]
pin: PD13
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.5

#####################################################################
#   LED Control
#####################################################################

## Chamber Lighting - HE2 Connector (Optional)
[output_pin Chamber_LED]
pin: PD15
pwm:true
shutdown_value: 0
value:0.75
cycle_time: 0.01

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################
[idle_timeout]
timeout: 1800

[quad_gantry_level]
gantry_corners:
	-60,-10
	360,370
##	Probe points
points:
	50,25
	50,225
	250,225
	250,25
speed: 600
horizontal_move_z: 10
retries: 10
retry_tolerance: 0.0075
max_adjust: 10

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 54.137
#*# pid_ki = 2.472
#*# pid_kd = 296.400
#*#
#*# [probe]
#*# z_offset = -0.825
#*#
#*# [input_shaper]
#*# shaper_type_x = ei
#*# shaper_freq_x = 60.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 39.4
#*#
#*# [beacon model default]
#*# model_coef = 1.6829628828328185,
#*# 	  2.0119871145987576,
#*# 	  0.6616343561756561,
#*# 	  0.15443002223718552,
#*# 	  0.3183746729788401,
#*# 	  0.4473268980285767,
#*# 	  -0.2465104116011597,
#*# 	  -0.3992907202136517,
#*# 	  0.18470417927926153,
#*# 	  0.18867958705693083
#*# model_domain = 1.8962035165408387e-07,1.9382984214747242e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 64.542810
#*# model_offset = 0.00000
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.015060, 0.001359, -0.006615, -0.004496, -0.004544, -0.009419, -0.005130, 0.000665, 0.006362, 0.008916, 0.013813, 0.030951, 0.045343
#*# 	0.003201, -0.003233, -0.009271, -0.014030, -0.017016, -0.015301, -0.013150, -0.009565, -0.004526, 0.000867, 0.008163, 0.016875, 0.025920
#*# 	-0.006922, -0.012320, -0.017719, -0.022666, -0.026442, -0.026703, -0.025056, -0.022777, -0.012058, -0.003934, -0.001936, 0.006529, 0.010558
#*# 	-0.007646, -0.011539, -0.018798, -0.023121, -0.025712, -0.025172, -0.023915, -0.019121, -0.012979, -0.005749, 0.000108, 0.006133, 0.013544
#*# 	-0.005034, -0.010782, -0.016383, -0.017979, -0.021968, -0.019593, -0.018335, -0.014671, -0.008720, -0.004363, 0.003456, 0.007532, 0.018785
#*# 	-0.003932, -0.009005, -0.011954, -0.013246, -0.015633, -0.017198, -0.014657, -0.011858, -0.006760, -0.000232, 0.006671, 0.016274, 0.023201
#*# 	-0.004303, -0.007445, -0.011415, -0.010831, -0.012646, -0.013628, -0.012455, -0.013361, -0.007983, -0.002016, 0.007534, 0.017820, 0.021559
#*# 	-0.000939, -0.007172, -0.010976, -0.010163, -0.009744, -0.010070, -0.008364, -0.005828, -0.003802, -0.001523, 0.008013, 0.013128, 0.020942
#*# 	0.003404, -0.000878, -0.006168, -0.005511, -0.006789, -0.006807, -0.004039, -0.001852, 0.002103, 0.003692, 0.011234, 0.018121, 0.025853
#*# 	0.009319, 0.005623, 0.001913, 0.001441, 0.002247, 0.003533, 0.003017, 0.002474, 0.005712, 0.009532, 0.018171, 0.025079, 0.032678
#*# 	0.021032, 0.016188, 0.013485, 0.013190, 0.014622, 0.015144, 0.016374, 0.018349, 0.020193, 0.020596, 0.025448, 0.037819, 0.046105
#*# 	0.025944, 0.024922, 0.020523, 0.018255, 0.020906, 0.021975, 0.025791, 0.028656, 0.032250, 0.033930, 0.040702, 0.047059, 0.054040
#*# 	0.022126, 0.020342, 0.016862, 0.015198, 0.015463, 0.017360, 0.018238, 0.023070, 0.028205, 0.032501, 0.038245, 0.047706, 0.053721
#*# 	0.034278, 0.031821, 0.027436, 0.027734, 0.026631, 0.027925, 0.029560, 0.033282, 0.036296, 0.041500, 0.050397, 0.059424, 0.066412
#*# 	0.061755, 0.059062, 0.056161, 0.055256, 0.056303, 0.056293, 0.057101, 0.058531, 0.063788, 0.070217, 0.079787, 0.086952, 0.093582
#*# 	0.071792, 0.065562, 0.064394, 0.065679, 0.066800, 0.066849, 0.067887, 0.068521, 0.075998, 0.083574, 0.089688, 0.095512, 0.102862
#*# x_count = 13
#*# y_count = 16
#*# mesh_x_pps = 1
#*# mesh_y_pps = 1
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 84.714
#*# max_x = 215.277
#*# min_y = 65.106
#*# max_y = 234.894
